<h1>{{title}}</h1>
<form (submit)="onSubmit()" >Power Level <input type="number" name="powerLevel" [(ngModel)]="powerLevel" max="100" min="0">
<input type="submit">
</form>

<app-types [level]="human" [type]="type1"></app-types>
<app-types [level]="saiyan" [type]="type2"></app-types>
<app-types [level]="superSaiyan" [type]="type3"></app-types>
<app-types [level]="superSaiyan2" [type]="type4"></app-types>
<app-types [level]="superSaiyan3" [type]="type5"></app-types>
<app-types [level]="superSaiyan4" [type]="type6"></app-types>